<div>   
  <label>Gebruiker toevoegen</label>
  <input type="string" [(ngModel)]="naamToevoegen"/>
  <button (click)="CreateUser()">Toevoegen gebruiker</button>
  <hr/>
  <label>Gebruiker verwijderen</label>
  <input type="string" [(ngModel)]="naamVerwijderen"/>
  <button (click)="DeleteUser()">Verwijderen gebruiker</button>
  <hr/>
  <label>Notitie toevoegen</label>
  <input type="string" [(ngModel)]="notitieToevoegen"/> 
  voor gebruiker <input type="string" [(ngModel)]="naamNotitieToevoegen"/>
  <button (click)="CreateNotitie()">Toevoegennotitie</button>
  <hr/>
  <button (click)="GetUsers()">geef een lijst van alle gebruikers</button>
  <hr/>
  <ul>
    <li *ngFor="let gebruiker of gebruikers">
      {{gebruiker.id}}   {{gebruiker.name}}
    </li>
  </ul>
  <hr/>
  <!--<button (click)="GetNotities()">geef een lijst van alle notities</button>
  <hr/>
  <ul>
    <li *ngFor="let notitie of notities">
      {{notitie.id}}  {{notitie.content}}
    </li>
  </ul>
  <hr/>-->
  <label>Notitie toevoegen voor gebruiker: </label>
  <input type="string" [(ngModel)]="naamNotitieTonen"/> 
  <button (click)="GetNotitiesVanGebruiker()">geef een lijst van alle notities van gebruiker {{naamNotitieTonen}}</button>
  <hr/>
  <ul>
    <li *ngFor="let notitie of notities">
      {{notitie.id}}  {{notitie.content}}
    </li>
  </ul>
  </div>