<div>
  <p>Lijst gebruikers:</p>
  <ul>
  <li *ngFor="let gebruiker of gebruikers">
    <!--{{gebruiker.id}} -->  {{gebruiker.name}}
  </li>
  </ul>
  <button (click)="GetUsers()">Lijst gebruikers vernieuwen</button>
</div>
<hr/>
<div>
<p>Gebruiker toevoegen</p>
Naam: <input type="string" [(ngModel)]="naamToevoegen"/>
<p><button (click)="CreateUser()">Toevoegen</button></p>
<hr/>
<p>Gebruiker verwijderen</p>
Naam: <input type="string" [(ngModel)]="naamVerwijderen"/>
<p><button (click)="DeleteUser()">Verwijderen</button></p>
</div>
<hr/>
<p>Notitie toevoegen voor gebruiker</p>
Naam: <input type="string" [(ngModel)]="naamNotitieToevoegen"/>
<br>
<br>
Notitie: <input type="string" [(ngModel)]="notitieToevoegen"/> 
<p><button (click)="CreateNotitie()">Toevoegen</button></p>
<hr/>
<p>Notites van gebruiker weergeven</p>
Naam: <input type="string" [(ngModel)]="naamNotitieTonen"/>
<p><button (click)="GetNotitiesVanGebruiker()">Weergeven</button></p>
<hr/>
<ul>
  <li *ngFor="let notitie of notities">
    <!--{{notitie.id}} -->  {{notitie.content}}
  </li>
</ul>