<h2>{{message0}}</h2>


<div>  
  <!-- loginscherm -->
  <ng-container *ngIf="!userExists; then loginContent; else activeUserContent">
  </ng-container>
  
  <!-- loginscherm -->
  <!-- gebruiker is nog niet ingelogd -->
  <ng-template #loginContent>
    <h4>{{message1}}</h4>
    <label>Gebruikersnaam</label>
    <br>
    <input type="text" [(ngModel)]="loginUserName"/>
    <button style="width: 200px" (click)="getUser()">Inloggen</button>
    <h4>{{message2}}</h4>
    <div>
      <!-- nieuw account aanmaken -->
      <ng-container *ngIf="!addUserClicked; then noNewUser; else newUser">
      </ng-container>

      <!-- geen nieuw account aanmaken -->
      <ng-template #noNewUser>
        <button style="width: 200px" (click)="addUserShowInputField()">Nieuwe account</button>
      </ng-template>
      
      <!-- wel nieuw account aanmaken -->
      <ng-template #newUser>
        <label>Gebruikersnaam</label>
        <br>
        <input  style="width: 196px" type="text" [(ngModel)]="newUserName"/>
        <button  style="width: 200px"(click)="addUser()">Maak account</button>
      </ng-template>
    </div>
  </ng-template>
  
  <!-- userscherm -->
  <!-- gebruiker is ingelogd -->
  <ng-template #activeUserContent>
    <table>
      <tr>
        <!--lijst van de notities, linkerkolom-->
        <td valign="top">
          <table>
            <tr>
              <td style="width: 200px">
                <!-- nieuwe notitie aanmaken -->
                <ng-container *ngIf="!addNoteClicked; then noNewNote; else newNote">
                </ng-container>
                
                <!-- geen nieuwe notitie aanmaken -->
                <ng-template #noNewNote>
                  <button style="width: 200px" (click)="setAddNoteClicked(true)" [disabled]="categoriesOfUser.length==0">Nieuwe notitie aanmaken</button>
                  <button style="width: 200px" (click)="setChangeNoteClicked(true)" [disabled]="notesOfUser.length==0">Notitie bewerken</button>
                  <button style="width: 200px" (click)="deleteNote()" [disabled]="notesOfUser.length==0">Notitie verwijderen</button>
                </ng-template>
                
                <!-- wel nieuwe notitie aanmaken -->
                <ng-template #newNote>
                  <label>{{message5}}</label>
                  <br>
                  <input  style="width: 196px" type="text"  select="true" [disabled]="categoriesOfUser.length==0" [(ngModel)]="noteContent"/>
                  <br>
                  <label>{{message6}}</label>
                  <br>
                  <select style="width: 200px" [(ngModel)]="selectedNotesCategory" (change)="noteCategory($event)">
                    <option value=-1 >--- Kies een categorie ---</option>
                    <option *ngFor="let category of categoriesOfUser" value={{category.id}}>{{ category.description }}</option>
                  </select>
                  <br>
                    <!--notitie toevoegen of notitie wijzigen-->
                    <ng-container *ngIf="!changeNoteClicked; then noNewNoteButton; else newNoteButton">
                    </ng-container>
                
                    <!-- button notitie maken -->
                    <ng-template #noNewNoteButton>
                    <button style="width: 200px" (click)="addNote()">Notitie toevoegen</button>
                    </ng-template>
                    
                    <!-- button notitie aanpassen -->
                    <ng-template #newNoteButton>
                      <button style="width: 200px" (click)="changeNote()">Notitie wijzigen</button>
                    </ng-template>
                </ng-template>
              </td>
            </tr>
            <tr>
              <td><br></td>
            </tr>
            <tr>
              <td style="width: 200px">
                <!-- nieuwe categorie aanmaken -->
                <ng-container *ngIf="categoriesOfUser.length!=0 && !addcategoryClicked; then noNewCategory; else newCategory">
                </ng-container> 
                <!-- geen nieuwe categorie aanmaken -->
                <ng-template #noNewCategory>
                  <button style="width: 200px"  (click)="setAddCategoryClicked(true)">Nieuwe categorie aanmaken</button>
                </ng-template>
  
                <!-- wel nieuwe categorie aanmaken -->
                <ng-template #newCategory>
                  {{message3}}
                  <br>
                  <input   style="width: 196px"  type="text"  [(ngModel)]="categoryDescriptionNew"/>
                  <br>
                  {{message4}}
                  <br>
                  <input   style="width: 196px" [(colorPicker)]="categoryColor" [style.background]="categoryColor"/>
                  <br>
                  <button style="width: 200px"  (click)="addCategory()">Maak categorie</button>
                  <br>
                </ng-template>   
              </td>
            </tr>
            <tr>
              <td><br></td>
            </tr>
            <tr>
              <td><br></td>
            </tr>
            <tr>
              <td>Filteren op categorie                
              </td>
            </tr>
            <tr>
              <td><select style="width: 200px" [(ngModel)]="selectedFilterCategoryFilter" (change)="filterCategory($event)" [disabled]="notesOfUser.length==0">
                <option value=-1 >--- Kies een categorie ---</option>
                <option [ngStyle]="{'background-color': category.color}" *ngFor="let category of categoriesOfUser" value={{category.id}}>{{ category.description }}</option>
              </select>  
              <br> 
              <button style="width: 200px" (click)="filterNotes()" [disabled]="notesOfUser.length==0">Pas filter toe</button>            
              </td>
            </tr>
            <tr>
              <td><br></td>
            </tr>
            <tr>
              <td>Filteren op inhoud            
              </td>
            </tr>
            <tr>
              <td>
                <input style="width: 196px" [(ngModel)]="substring" [disabled]="notesOfUser.length==0"/>
              <br> 
              <button style="width: 200px" (click)="searchNotesWithSubstring()" [disabled]="notesOfUser.length==0">Zoeken</button>            
              </td>
            </tr>
            <tr>
              <td><button style="width: 200px" (click)="showAllNotes()" [disabled]="notesOfUser.length==0">Alle filters wissen</button>
              </td>
            </tr>
          </table>
        </td>
        <td valign="top">
          <!--lijst van de notities, rechterkolom-->
          <table>
            <td  style="width: 200px" valign="top">
              <ng-container *ngIf="notesOfUser.length!=0; then notesToShow; else noNotesToShow">
              </ng-container>
              <!--als de lijst niet leeg is-->
              <ng-template #notesToShow> 
                <label>Klik op de notitie die u wenst te bewerken of verwijderen</label>
                <div *ngFor="let note of notes" >
                <button [ngStyle]="{'background-color':getColor(note)}" style="width: 500px" (click)="onNoteClick(note)">{{note.content}}</button>      
                {{messageSelectedNote}}
                </div>
              </ng-template>
               <!--als de lijst leeg is-->
              <ng-template #noNotesToShow>
                {{message1}}
                <br>
                {{message2}}
              </ng-template>    
              </td>
          </table>
        </td>
      </tr>        
    </table>
   <!-- <app-notes [loginUser] = "loginUser"></app-notes> -->
  </ng-template>
  <!-- loginscherm -->
  


  <!-- op te kuisen -->
  <table>
    <tr>
      <!-- <td>
        <table>
          <tr>
              <li *ngFor="let note of notes;let i = index" (click)="onNoteClick(note.id, note.categoryId, note.content)">                             
                <button [ngStyle]="{'background-color':getColor(note)}" style="width: 50%">{{note.content}}</button>
                </li>
          </tr>
        </td>
          <tr>
            <td><hr>filteren op categorie:</td>
          </tr>
          <tr>
            <td>
              <select  [(ngModel)]="selectedFilterCategorie" (change)="filterCategory($event)">
                <option value=-1 >--- Kies een categorie ---</option>
                <option  *ngFor="let category of categoriesOfUser" value={{category.id}}>{{ category.description }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><button (click)="filterCategoryToepassen()">Filter toepassen</button></td>
          </tr>  
          
          <tr>
            <td><hr>Zoeken op content:</td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="substring"/>
            </td>
          </tr>
          <tr>
            <td><button (click)="NotitiesMetZoekstringZoeken()">Notities zoeken</button></td>
          </tr>      
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>Notitie toevoegen</td>
            <td>
              <input [(ngModel)]="content"/>
            </td>
            <td>
              <select [(ngModel)]="selectednotitieCategorie" (change)="Notitiecategory($event)">
                <option value="-1" >--- Kies een categorie ---</option>
                <option  *ngFor="let category of categoriesOfUser" value={{category.id}}>{{ category.description }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <div>  
                <ng-container *ngIf="toevoegenNotitie;then buttonToevoegen;else buttonWijzigen">
                </ng-container>
                <ng-template #buttonToevoegen>
                  <button (click)="NotitieToevoegen()">Notitie toevoegen</button>
                </ng-template>
                <ng-template #buttonWijzigen>
                  <button (click)="NotitieWijzigen()">Notitie wijzigen</button>
                </ng-template>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div *ngFor="let note of notes">
                <input type="text" name={{note.id}} [disabled]= true  (ng-click)="onItemClick(note.id, note.categoryId, note.content)" value="{{note.content}}"/>
                <button (click)="NotitieBewerken(note)">Notitie bewerken</button>
                <button (click)="NotitieVerwijderen(note.id)">Notitie verwijderen</button>
              </div>
            </td>
          </tr>
        </table>   
      </td>
      <td>
        <table>          
          <ul height="10" id="notesList">
            <li *ngFor="let note of notes;let i = index" (click)="onItemClick(note.id, note.categoryId, note.content)">             
              {{note.content}}
            </li>
          </ul>
        </table>
      </td>
      <td>
        <table>    
          <tr> 
            <td>
            <option *ngFor="let note of notes;let i = index" (click)="onItemClick(note.id, note.categoryId, note.content)">             
              {{note.content}}
            </option>
        </td>
        </tr>
        <tr>
          <td>
            <button>om een knop te hebben</button>
          </td>
        </tr>
      </table>
    </td> -->
    <td>
      <table>       
      </table>
    </td>
    </tr>
  </table>

</div>
<br>
<br>



<!-- <table>
  <tr>
    <td colspan="2">Filteren op categorie</td>
  </tr>
  <tr>
    <td>
      <select (change)="filterCategory($event)">
        <option value=-1 >--- Kies een categorie ---</option>
        <option  *ngFor="let category of categories" value={{category.description}}>{{ category.description }}</option>
      </select>
    </td>
    <td><button (click)="filterCategoryToepassen()">Filter toepassen</button></td>
  </tr>
</table> -->

<!--
<button (click)="NotitieToevoegen()">Notitie toevoegen</button>
<button (click)="NotitieBewerken(7)">Notitie bewerken</button>



  <div *ngFor="let note of notes">
    <input type="text" name={{note.id}} [disabled]= true value="{{note.id}} {{note.content}}  {{note.noteCategoryId}}"/>
    <button (click)="NotitieBewerken(note.id)">Notitie bewerken</button>
    <button (click)="NotitieVerwijderen(note.id)">Notitie verwijderen</button>
  </div>

  <div *ngFor="let note of notesNaFilter">
    {{ note.content }}
  </div>

-->

  <!-- <form [formGroup]="formCategory" (ngSubmit)="submitCategory()">
    <div *ngFor="let category of categories">
      <input type="checkbox" (change)="onChangeCategory(category.description, $event.target.checked)" />
      {{ category.description }}
    </div>
    <button>Filter toepassen</button>
  </form> -->

