<h2>{{message0}}</h2>


<div>  
  <ng-container *ngIf="!userExists; then loginContent; else activeUserContent">
  </ng-container>
  
  <!-- loginscherm -->
  <!-- gebruiker is nog niet gekend -->
  <ng-template #loginContent>
    <h4>{{message1}}</h4>
    <label>Gebruikersnaam</label>
    <br>
    <input type="text" [(ngModel)]="loginUserName"/>
    <button (click)="getUser()">Inloggen</button>
    <h4>{{message2}}</h4>
    <div>
      <ng-container *ngIf="!addAccountClicked; then user; else newUser">
      </ng-container>

      <ng-template #user>
        <button (click)="addAccount()">Nieuwe account</button>
      </ng-template>
      <ng-template #newUser>
        <label>Gebruikersnaam</label>
        <br>
        <input type="text" [(ngModel)]="newUserName"/>
        <button (click)="addUser()">Maak account</button>
      </ng-template>
    </div>
  </ng-template>
  
  <!-- userscherm -->
  <!-- gebruikergegevens zijn gekend -->
  <ng-template #activeUserContent>
    {{message0}}
    <table>

    </table>
   <!-- <app-notes [loginUser] = "loginUser"></app-notes> -->
  </ng-template>
  
  <!-- userscherm -->
  <table>
    <tr>
      <td>
        <table>
          <tr>
            <td><button (click)="showAllNotes()">Alle notities weergeven</button></td>
          </tr>
          <tr>
            <td><hr>filteren op categorie:</td>
          </tr>
          <tr>
            <td>
              <select  [(ngModel)]="selectedFilterCategorie" (change)="filterCategory($event)">
                <option value=-1 >--- Kies een categorie ---</option>
                <option  *ngFor="let category of categoriesOfUser" value={{category.id}}>{{ category.description }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><button (click)="filterCategoryToepassen()">Filter toepassen</button></td>
          </tr>  
          
          <tr>
            <td><hr>Zoeken op content:</td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="substring"/>
            </td>
          </tr>
          <tr>
            <td><button (click)="NotitiesMetZoekstringZoeken()">Notities zoeken</button></td>
          </tr>      
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>Notitie toevoegen</td>
            <td>
              <input [(ngModel)]="content"/>
            </td>
            <td>
              <select [(ngModel)]="selectednotitieCategorie" (change)="Notitiecategory($event)">
                <option value="-1" >--- Kies een categorie ---</option>
                <option  *ngFor="let category of categoriesOfUser" value={{category.id}}>{{ category.description }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <div>  
                <ng-container *ngIf="toevoegenNotitie;then buttonToevoegen;else buttonWijzigen">
                </ng-container>
                <ng-template #buttonToevoegen>
                  <button (click)="NotitieToevoegen()">Notitie toevoegen</button>
                </ng-template>
                <ng-template #buttonWijzigen>
                  <button (click)="NotitieWijzigen()">Notitie wijzigen</button>
                </ng-template>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div *ngFor="let note of notes">
                <input type="text" name={{note.id}} [disabled]= true value="{{note.content}}"/>
                <button (click)="NotitieBewerken(note)">Notitie bewerken</button>
                <button (click)="NotitieVerwijderen(note.id)">Notitie verwijderen</button>
              </div>
            </td>
          </tr>
        </table>   
      </td>
      <td>
        <table>
          <ul id="notesList">
            <li *ngFor="let note of notes;let i = index" (click)="onItemClick(note.id)">             
              {{note.content}}
            </li>
          </ul>
          <!-- <ul class="sub-menu collapse" id="statistics">
            <li *ngFor="let item of listItems;let i = index" (click)="onItemClick('statistics',i)">{{ item }}</li>
          </ul> -->
        </table>
      </td>

    </tr>
  </table>

</div>
<br>
<br>



<!-- <table>
  <tr>
    <td colspan="2">Filteren op categorie</td>
  </tr>
  <tr>
    <td>
      <select (change)="filterCategory($event)">
        <option value=-1 >--- Kies een categorie ---</option>
        <option  *ngFor="let category of categories" value={{category.description}}>{{ category.description }}</option>
      </select>
    </td>
    <td><button (click)="filterCategoryToepassen()">Filter toepassen</button></td>
  </tr>
</table> -->

<!--
<button (click)="NotitieToevoegen()">Notitie toevoegen</button>
<button (click)="NotitieBewerken(7)">Notitie bewerken</button>



  <div *ngFor="let note of notes">
    <input type="text" name={{note.id}} [disabled]= true value="{{note.id}} {{note.content}}  {{note.noteCategoryId}}"/>
    <button (click)="NotitieBewerken(note.id)">Notitie bewerken</button>
    <button (click)="NotitieVerwijderen(note.id)">Notitie verwijderen</button>
  </div>

  <div *ngFor="let note of notesNaFilter">
    {{ note.content }}
  </div>

-->

  <!-- <form [formGroup]="formCategory" (ngSubmit)="submitCategory()">
    <div *ngFor="let category of categories">
      <input type="checkbox" (change)="onChangeCategory(category.description, $event.target.checked)" />
      {{ category.description }}
    </div>
    <button>Filter toepassen</button>
  </form> -->

